/* CSS Document */

body{
	padding:0;
	margin:0;
	background:url(images/pattern.gif) 0 0 repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------top--------------------*/
#topMain{
	width:100%;
	height:100px;
	background:url(images/top_bg.gif) 0 14px repeat-x;
}
#top{
	width:935px;
	margin:0 auto;
	position:relative;
	height:100px
}
#top img.logo{
	display:block;
	position:absolute;
	left:0;
	top:27px;
}
#top a.member2{
	display:block;
	background:url(images/member_login2.gif) 0 0 no-repeat;
	width:189px;
	height:110px;
	position:absolute;
	left:300px;
	top:0;
	border:none;
	font-size:0;
	line-height:0;	
}
#top p.memberLogin{
	background:url(images/member_login_bg.gif) no-repeat 0 0;
	width:197px; 
	height:110px; 
	position:absolute; 
	display:block;
	left:279px; 
	top:0; 
	padding:0 0 0 35px;
	font-size:0; 
	line-height:0;
	}
#top p.memberLogin a{
	background:url(images/member_login2.gif) no-repeat 0 0;
	width:150px;
	height:109px;
	display:block;
	border:none;
}
#top p.memberLogin a:hover{
	background:url(images/member_login2_hover.gif) no-repeat 0 0;
	}
#top ul{
	width:188px;
	height:17px;
	position:absolute;
	left:746px;
	top:0;
}
#top ul li{
	float:left;
}
#top ul li a.subscribe{
	display:block;
	background:url(images/subscribe_bg.gif) 0 0 no-repeat;
	width:94px;
	height:17px;
	font:bold 10px/17px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#337676;
	background-color:inherit;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
}
#top ul li a.subscribe:hover{
	color:#000;
	background-color:inherit;
}
#top ul li a.sitemap{
	display:block;
	background:url(images/sitemap_bg.gif) 0 0 no-repeat;
	width:93px;
	height:17px;
	font:bold 10px/17px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#337676;
	background-color:inherit;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
}
#top ul li a.sitemap:hover{
	color:#000;
	background-color:inherit;
}
#top form{
	position:absolute;
	left:546px;
	top:49px;
	background:url(images/serch_bg.gif) 0 0 no-repeat;
	width:331px;
	height:39px;
	padding:14px 8px 0 50px;
}
#top form input.txtBox1{
	width:184px;
	height:23px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#808080 solid 1px;
	border-left:#808080 solid 1px;
	background-color:#fff;
	color:#000;
	font:normal 10px/23px Arial, Helvetica, sans-serif;
	padding:0 0 0 21px;
	float:left;
}

#top form input.go{
	width:57px;
	height:25px;
	background:url(images/btn_go.gif) 0 0 no-repeat #fffffe;
	font:bold 12px/25px Arial, Helvetica, sans-serif;
	color:#000;
	cursor:pointer;
	border:none;
	float:right;
	text-transform:uppercase;
	display:block;
}
	
/*------------------------------------------------top--------------------*/

/*------------------------------------------------nav--------------------*/
#navMain{
	width:100%;
	height:31px;
	background:url(images/nav_bg.gif) 0 0 repeat-x;
}
#nav{
	width:935px;
	height:31px;
	margin:0 auto;
}
#nav ul{
	width:736px;
	height:31px;
	background:url(images/nav_div.gif) left top no-repeat;
}
#nav ul li{
	float:left;
	background:url(images/nav_div.gif) right top no-repeat;
	height:31px;
	padding:0 2px 0 0;
}
#nav ul li a{
	display:block;
	font:bold 10px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:inherit;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 13px;
}
#nav ul li a:hover{
	color:#333333;
	background-color:#fff;
}
#nav ul li a.hover{
	display:block;
	font:bold 10px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 13px;
	cursor:text;
}
#nav ul li.noImg{
	background-image:none;
}
/*------------------------------------------------nav--------------------*/



